*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;

    position: fixed;
    width: 100%;

    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
    display: flex;
    text-transform: uppercase;;
    justify-content: left;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-linker{
    display:flex;
    justify-content: space-evenly;
    width: 40%;
}

.nav-linker li{
    list-style: none;
}

.lis li {
    margin-top: -50px;
}

.nav-linker a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-linker{
        width: 0;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }

    .nav-linker{
        position: fixed;
        right: 0px;
        width: 0;
        height: 100vh;
        top: 8vh;
        background-color:black;
        flex-direction: column;
        align-items: center;
        transition: .5s ease-in-out;
    }
    .nav-linker li{
        opacity: 0;
    }

    .burger{
        display:block;
    }

    .nav-active{
        width: 200px;
    }
}

@media screen and (max-width:550px) {
    .nav-active{
        width: 165px;
    }
}

@keyframes navLinkAnimation{
    from{
        opacity: 0;
        width: 0;
    }
    to{
        opacity: 1;
        width: 50px;
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
